.header {
  background: rgb(238, 238, 238);
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 120px;
  &.open {
    width: 200px;
  }
}
.nav {
  display: flex;
  flex-direction: column;
  &bar {
    &__link {
      color: gray;
    }
  }
}
